.bg {
    position: absolute;
    height: 39px;
    width: 69px;
    object-fit: cover;
    user-drag: none;
    pointer-events: none;
    transform: translate(0, -100%);
}
:root {
    width: 100%;
    height: 100%;
    display: flex;
}
body {
    flex-grow: 1;
    display: flex;
}
.map {
    display: flex;
    overflow: hidden;
}
#map_container {
    flex-grow: 1;
    position: relative;
}
#root {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 20rem;
}

#menu {
    min-height: 0;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.regions {
    padding: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
#regions {
    padding: 0.5rem;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.1rem;
}

.region {
    transition: color 0.2s;
    display: flex;
    color: black;
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.layers {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
#layers {
    padding: 0.5rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    & > form {
        display: flex;
        flex-direction: column;
    }
}

.region-selected {
    color: #2060ae;
}
.marker-warp {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 999999px;
    background: #4a4aff;
}

.warp-oneway {
    background: #20e0e0;
}

.marker-echo {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 999999px;
    background: #ff6000;
}

.marker-backlink {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 999999px;
    background: #fa59d9;
}

.marker-karma {
    font-size: 2px;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 999999px;
    background: #e0e020;
}

.element {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
#element {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.marker-selected {
    border: 2px solid red;
}

@media screen and (orientation: portrait) {
    #root {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 30%;
    }
    #menu {
        border-top: 1px solid gray;
        overflow-y: scroll;
    }
    .regions {
        overflow: unset;
    }
    #regions {
        overflow-y: unset;
    }
}

.regions-hidden {
    display: none !important;
}

.unhide {
    padding: 0.5rem;
    gap: 0.5rem;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    & > i {
        text-align: center;
    }
    & > label {
        cursor: pointer;
        & > input { display: none; }
        background: #eaeaea;
        padding: 0.5rem 0.2rem;
        border-radius: 0.5rem;
        text-align: center;
    }
}

.connection {
    position: absolute;
    & > line {
        stroke: red;
        stroke-width: 1;
    }
}
