.bg {
    position: absolute;
    height: 39px;
    width: 69px;
    object-fit: cover;
    user-drag: none;
    pointer-events: none;
    transform: translate(0, -100%);
}
:root {
    width: 100%;
    height: 100%;
    display: flex;
}
body {
    flex-grow: 1;
    display: flex;
}
.map {
    display: flex;
    overflow: hidden;
}
#map_container {
    flex-grow: 1;
    position: relative;
}

.regions {
    padding: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
#regions {
    padding: 0.5rem;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.1rem;
}

.region {
    transition: color 0.2s;
    display: flex;
    color: black;
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.layers {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
#layers {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    & > * {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.layer-inputs {
    display: flex;
    & > .layer {
        flex-grow: 1;
        text-align: center;
        padding: 0.5rem 1rem;
        background: #80808010;
        & > input { display: none; }
        &:has(> input:checked) {
            background: #80808020;
        }
    }
    & > .layer:first-child {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    & > .layer:last-child {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

.region-selected {
    color: #2060ae;
}
.marker-warp {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 999999px;
    background: #4a4aff;
}

.warp-oneway {
    background: #20e0e0;
}

.marker-echo {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 999999px;
    background: #ff6000;
}

.marker-backlink {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 999999px;
    background: #fa59d9;
}

.marker-karma {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 999999px;
    background: #e0e020;
}

.element {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
#element {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.marker-selected {
    border: 2px solid red;
}

.regions-hidden {
    display: none !important;
}

.tabs {
    display: flex;
    flex-direction: row;
    & > * {
        flex: 1 1 5rem;
        padding: 0.5rem 1rem;
        text-align: center;
        background: #80808010;
        & > input {
            display: none;
        }
        &:has(> input:checked) {
            background: #80808020;
        }
    }
    & > *:first-child {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    & > *:last-child {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

.unhide {
    padding: 0.5rem;
    gap: 0.5rem;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    & > i {
        text-align: center;
    }
    & > label {
        cursor: pointer;
        & > input { display: none; }
        background: #eaeaea;
        padding: 0.5rem 0.2rem;
        border-radius: 0.5rem;
        text-align: center;
    }
}

.connection {
    position: absolute;
    & > * {
        fill: transparent;
        stroke: #790202;
        stroke-width: 0.5;
        stroke-dasharray: 1 1;
    }
}

#root {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-template-rows: auto auto 1fr;
    & > .map {
        grid-column: 1;
        grid-row: 1 / -1;
    }
}

.tabs {
    display: none;
}

@media screen and (orientation: portrait) {
    #root:not(:has(#tab-regions:checked)) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr min(30%, 10rem) auto;
        & > .layers {
            grid-row: 4;
            flex-direction: row;
            gap: 1rem;
            & > .title {
                align-self: center;
            }
            & > #layers {
                flex-grow: 1;
                padding-bottom: 0;
            }
        }
        & > .tabs {
            display: flex;
            grid-row: 1;
        }
        & > .map {
            grid-row: 2;
        }
        & > .element {
            border-top: 1px solid gray;
        }
        & > .regions {
            display: none;
        }
    }
    #root:has(#tab-regions:checked) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        & > .layers {
            display: none;
        }
        & > .tabs {
            display: flex;
            grid-row: 1;
        }
        & > .map {
            display: none;
        }
        & > .element {
            display: none;
        }
        & > .regions {
            display: flex;
        }
    }
    .element {
        overflow-y: scroll;
    }
    .regions > .title {
        display: none;
    }
    .regions > #regions {
        padding-top: 0;
    }
}
